################################
# EXPORT ENVIRONMENT VARIABLES #
################################

# XDG
export XDG_CONFIG_HOME={{ xdg_config_home }}
export XDG_DATA_HOME={{ xdg_data_home }}
export XDG_CACHE_HOME={{ xdg_cache_home }}

# zsh
export ZDOTDIR={{ zsh_dir }}
