# Aliases
source $ZDOTDIR/aliases

# Prompt
fpath=($ZDOTDIR $fpath)
source $ZDOTDIR/prompt_setup

# Autosuggestions
source $ZDOTDIR/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

# Syntax highlighting
# This should always be at the end of the file
source $ZDOTDIR/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
