# Aliases
source $ZDOTDIR/aliases

# Prompt
fpath=($ZDOTDIR $fpath)
source $ZDOTDIR/prompt_setup

# Syntax highlighting
# This should always be at the end of the file
source $ZDOTDIR/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
