local ok, catppuccin = pcall(require, "catppuccin")
if not ok then
	vim.notify("Plugin catppuccin not found!")
end

catppuccin.setup({
	flavour = "latte",
})

local colorscheme = "catppuccin"

local ok_colorscheme, _ = pcall(vim.cmd, "colorscheme " .. colorscheme)

if not ok_colorscheme then
	vim.notify("Colorscheme " .. colorscheme .. " not found!")
	return
end
